{% extends "base.html.twig" %}

{% set title = "Author" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ author.fullname }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ author.email }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
<br/>
    <a class="btn btn-link" href="{{ path('author_index') }}">back to list</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
